<p mat-dialog-title>Choose a Category:</p>
<div mat-dialog-actions class="cat">
    <table class="catTable">
        <tr><td><button mat-button class="catbutton" [mat-dialog-close]="'📍:'">   📍: Places  </button></td></tr>
        <tr><td><button mat-button class="catbutton" [mat-dialog-close]="'🎵:'"> 🎵: Concerts </button></td></tr>

        <tr><td><button mat-button class="catbutton" [mat-dialog-close]="'💥:'">  💥: Party   </button></td></tr>

        <tr><td><button mat-button class="catbutton" [mat-dialog-close]="'🚲:'">🚲: Bike Tours</button></td></tr>
        <tr><td><button mat-button class="catbutton" [mat-dialog-close]="'🍻:'"> 🍻: Drinking </button></td></tr>
    
   
    
        <tr><td><button mat-button class="catbutton" [mat-dialog-close]="'🥨:'">   🥨: Food   </button></td></tr>
</table>
  </div>
